@model WebApplication6.Models.Order.OrderListModel
@using Microsoft.Extensions.Options
@using StoreServices
@inject IOptions<StripeSettings> Stripe

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FinaliseOrder</title>

    <script src="~/js/jquery2.1.0.js"></script>

</head>

<body>
    <div class="row" style="margin-top:30px;">
        <breadcrumb style="font-weight:bold;"
                    asp-homepage-title=" Home"
                    asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                    asp-homepage-glyphicon="glyphicon glyphicon-home "></breadcrumb>
    </div>

    <div class="row" style="text-align:center;  margin-top:36px">
        <h2 style="color:black !important">Finalise your orders</h2>
        <div class=" col-lg-12" style="padding:20px">

            <div class="col-lg-4" style="  border:1px solid black; padding-bottom:20px;margin-left:15%">
                <h2 style="color:black !important">BASKET:</h2>
                <hr>
                @{ var sum = 0.00; var subsum = 0.0;}
                @{ var vat = 20; var total = 0.0; var perc = 0.0; var payment = 0; var status = 0;}

                @foreach (var order in Model.Orders)
                {
                    <div class="col-lg-12 col-md-4 col-sm-10 col-xs-12 " style="display:inline-block; float:none;">

                        <div class="card" style=" margin:10px !important;">
                            <div class="row">

                                <div class="col-lg-5">
                                    <div class="img-card" href="">
                                        <a asp-controller="" asp-action="" asp-route-id="">
                                            <img src="~/images/productimages/@order.FirstImage" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <br><br>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a asp-controller="" asp-action="" asp-route-id="">
                                                @order.Manufacturer.Name  @order.Model.Name
                                            </a><br>
                                        </h4>
                                        <div class="card-read-more">
                                            COLOR: &nbsp; @order.Item.Color<br>
                                            AMOUNT: &nbsp; @order.NumberOfItems<br>
                                            PRICE: &nbsp; @order.Item.Price €
                                        </div>

                                        @if (order.PaymentMethod == "CreditCard") { payment++; }
                                        @if (order.StatusId == 2) { status++; }

                                        @{subsum = @order.NumberOfItems * @order.Item.Price;}
                                        @{sum += subsum;}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>}
                @{ perc = sum * vat / 100;}
                @{total = sum + perc;}


            </div>

            <div class="col-lg-4" style="margin-left:5%">

                <div class="row" style=" border:1px solid black;"><h2 style="color:black !important">TOTAL:</h2></div>
                <div class="row" style=" border-style: solid; border-width:0px 1px 1px 1px ">
                    <div class="col-lg-12" style="padding:40px !important">

                        <div class="row" style="text-align:left; border-bottom:1px solid black">
                            <h4>Price: @sum €</h4>
                        </div><br><br>
                        <div class="row" style="text-align:left; border-bottom:1px solid black">
                            <h4>VAT: @vat %</h4>
                        </div><br><br>

                        <div class="row" style="text-align:left; border-bottom:1px solid black">
                            <h4>Delivery: FREE</h4>
                        </div>
                        <br><br><br>
                        <div class="row" style="text-align:left; border-bottom:1px solid black">
                            <h3>Total: @total €</h3>
                        </div>
                        <br><br><br>

                        @if (payment > 0 && status == 0)
                        {<div class="row">
                                @{Model.SumTotal = total;}
                                <form asp-action="Charge" asp-controller="Order" method="POST">
                                    <input type="hidden" asp-for="@Model.SumTotal">
                                    <script src="//checkout.stripe.com/v2/checkout.js"
                                            class="stripe-button"
                                            data-key="@Stripe.Value.PublishableKey"
                                            data-locale="auto"
                                            data-description="Sample Charge"
                                            data-amount="@(total * 100).ToString()">
                                    </script>

                                </form>
                            </div>}
                        else
                        {
                            <form asp-action="ConfirmOrder" asp-controller="Order" method="post">
                                <div class="row">
                                    <button style="width:100%;margin-top:7%;" class="btn btn-warning" type="submit">Confirm</button>
                                </div>
                            </form>}
                    </div>


                </div>


            </div>

        </div>


    </div>

    <script src="~/js/OrderJs/FinaliseOrders.js"> </script>





</body>
</html>
