@model WebApplication6.Models.Product.ProductListModel

<html lang="en">
<head>
 

    <link href="~/css/owl.carousel.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/css/owl.theme.default.min.css" media="all" rel="stylesheet" type="text/css" />
    <script defer src="~/js/owl.carousel.min.js"></script>
 
</head>
<body>



    <div class="row" style="border-bottom:1px solid black;margin-bottom:50px;margin-top:50px;">
        <h2 class="heading" style="color:black !important;padding-bottom:5px;">
            RECENTLY SEEN ITEMS
        </h2>
    </div>




    <div class="owl-carousel owl-theme">

        @foreach (var prodHist in Model.ProductHistory)
        {

            <div class="carousel-item">
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@prodHist.ItemId">
                    <div class="img-card">
                        <img src="~/images/productimages/@prodHist.FirstImage" class="item-image">
                        @if (prodHist.Discount > 0)
                        {
        <span class="badge badge-warning" style="width:80%; border-radius:0px;background-color:red;"> @prodHist.Discount % Discount</span>
    }
                    </div>
                    <div class="carousel-item-text">
                        <span class="item-kicker">  @prodHist.ManufacturerAndModel.Name <br>  @prodHist.Model.Name</span>
                        <h6 class="item-title">   PRICE: &nbsp; @prodHist.Price €</h6>

                    </div>
                </a>
            </div>


        }

    </div>

    <script>
        $(document).ready(function () {
            
            $(".owl-carousel").owlCarousel({
                margin: 15,
 
                autoWidth: false,
                items: 5,

                responsive: {
                    0: {
                        items: 2,
                        margin: 10,
                        stagePadding: 20,
                    },
                    600: {
                        items: 3,
                        margin: 20,
                        stagePadding: 50,
                    },
                    1000: {
                        items: 3,
                        margin: 20,
                        stagePadding: 50,
                    },
                    1280: {
                        items: 5,
                        margin: 20,
                        stagePadding: 50,

                    }
                }
            }); 
        });
    </script>

</body>
</html>